@use 'base/variables' as v;
@use 'base/mixins' as m;

.pagina_404 {

    &__imagen {
        width: 80%;
        margin: 0 auto;
        @include m.desktop {
            width: 40%;
        }
    }

    &__contenedor {
        text-align: center;


    }

    &__enlace {
        color: v.$azul;
    }   
}